/* topbar */
.bar {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin: 0;
}

.search {
  min-width: 300px;
  padding: 0.5rem 1rem;
}

.cartBtn {
  color: orange;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
}
/* list */
.list {
  list-style-type: none;
  margin: 0;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.product {
  width: 200px;
  height: 500px;
  border: 2px solid transparent;
  display: flex;
  flex-direction: column;
  background-color: dodgerblue;
}
.product:hover {
  border-color: gold;
}

.productImg {
  width: 100%;
}

.addToCartBtn {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  background-color: black;
  color: gold;
  font-weight: bold;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.productName {
}

.description {
}

.category {
  padding: 0.1rem;
  border-radius: 4px;
  background-color: pink;
}
